<div>
  <h1>@bbortt/ngx-autocomplete</h1>
  <h1><small>Minimal Samples</small></h1>

  <p>
    Repository: <a href="https://github.com/bbortt/ngx-autocomplete">https://github.com/bbortt/ngx-autocomplete</a>
  </p>

  <p>
    <strong>Note:</strong>This page is <i>not</i> responsive! The autocomplete component does <i>not</i> rely on any css framework!
    <br />
    (But are customizable, as you can see in the "Bootstrap Autocomplete".)
  </p>

  <hr />

  <div class="size-a-third">
    <h2>String Autocomplete</h2>

    <app-autocomplete-sample></app-autocomplete-sample>
  </div>

  <div class="size-a-third">
    <h2>Advanced Autocomplete</h2>
    <div>country: {{ '{' }} name: string {{ '}' }}</div>

    <app-autocomplete-advanced></app-autocomplete-advanced>
  </div>

  <div class="size-a-third">
    <h2>Bootstrap Autocomplete</h2>

    <app-autocomplete-bootstrap></app-autocomplete-bootstrap>
  </div>
</div>
