<form name="editForm" role="form" novalidate [formGroup]="editForm">
  <div>
    <label for="field-name"> Name </label>
    <input name="name" id="field-name" formControlName="name" />
  </div>

  <div>
    <label for="field-country"> Country </label>

    <ngx-autocomplete
      name="country"
      id="field-country"
      formControlName="country"
      [options]="options"
      propertyAccessor="name"
      (autocompleteChanges)="filter($event)"
    ></ngx-autocomplete>

    <div
      *ngIf="
        editForm.get('country')!.invalid &&
        (editForm.get('country')!.dirty || editForm.get('country')!.touched)
      "
    >
      <small *ngIf="editForm.get('country')?.errors?.required">
        This field is required.
      </small>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>

<div>
  <h3>Value&nbsp;</h3>
  <span>{{ currentValue() }}</span>
</div>
